@import url('style.css');

header,
div[role='main'],
footer { margin: 0 auto; width: 960px; }

aside, section#todos { float: left; }
aside { width: 150px; padding-right: 10px; }
section#todos { width: 800px; }

/*  jQuery UI adaptations ------------------------------ */
button.ui-button span { font-size: 12px; }

/* Header ---------------------------------------------- */
header { height: 60px; margin-top: 40px; }
    header div { color: #551a8b; float: left; font: normal 30px/1.2em "Century Gothic"; height: 36px; width: 160px; }
    header nav { float: left; height: 20px; padding-top: 6px; width: 800px; }
        header nav a { border-bottom: solid 4px #808080; color: #000; display: inline-block; padding: 0 20px 3px 20px; text-decoration: none; }
        header nav a.selected { border-bottom-color: #06e; color: #06e; }
        header nav a:hover { border-color: #06e; color: #06e; }
        
/* Todo items ------------------------------------------ */
#todos {  }
    #todos div.task { margin: 0 0 15px 0; position: relative; }
    #todos > div.task { background-color: #efefef; border-left: solid 3px #551a8b; padding: 10px; }
    #todos > div.task:hover { background-color: #d8e5f7; }
    #todos > div.task.selected { background-color: #cee0f8; }
    #todos h1 { color: #f52672; font: normal 16px/1.3em 'Century Gothic'; margin: 0; text-transform: uppercase; }
    #todos pre.comments { font: normal 11px/1.3em Consolas; margin-top: 8px; }
    #todos pre.comments:empty { display: none; }

div.task a.removeBtn { cursor: pointer; display: inline-block; font-size: 0.6em; position: absolute; right: 7px; top: 7px; }
div.task a.removeBtn:hover { color: #f52672; }
div.task div.subTasks { display: none; padding: 5px 0 5px 12px; }

/* Sidebar --------------------------------------------- */
div#tools { }

/* Dialogs --------------------------------------------- */
section#dialogs { background-color: rgba(200, 200, 200, 0.8); position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; }
form.dialogContainer { background-color: #fff; left: 50%; margin-left: -200px; padding: 10px; position: absolute; top: 10px; width: 380px;  }
    form.dialogContainer h2 { background-color: #d8e5f7; font: normal 1.2em Consolas; padding: 5px; margin: 0 0 10px 0; }
    form.dialogContainer section.form { border-bottom: solid 1px #808080; padding-bottom: 5px; }
    form.dialogContainer section.buttons { padding-top: 10px; }
        form.dialogContainer section.buttons button { float: right; margin: 0 0 0 5px; }
    form.dialogContainer input[type='text'],
    form.dialogContainer textarea { font: normal 12px/1.3em Consolas; margin: 5px 0; width: 376px; }
    form.dialogContainer textarea { height: 250px; width: 374px; }